<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <span class="title" style="font-size:3rem">Contacts</span>
                    <button class="btn btn-success pull-right">New Contact</button>
                </div>
                
            </div>
            <div class="panel-body" *ngFor="let contact of contacts">
                <div class="pull-left">
                    <h4 class="list-group-item-heading">{{ contact.name }}</h4>
                </div>
                <div class="pull-right">
                    <img src="{{ contact.imageUrl }}" alt="{{ contact.name }}" class="img-responsive" style="max-height: 50px;">
                </div>
            </div>
        </div>
    </div>
</div>


