<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <span class="title" style="font-size:3rem">Contacts</span>
                    <button class="btn btn-success" routerLink="new">New Contact</button>
                </div>
                
            </div>
            <app-contact-item *ngFor="let contactItem of contacts" [contact]="contactItem"></app-contact-item>
        </div>
    </div>
</div>


